@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
ul,
li,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, p {
  font-weight: 400;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/pattern.svg");
  font-family: 'Roboto', sans-serif;
  color: #345;
}

label {
  margin-bottom: 5px;
}

a {
  color: #345;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter {
  transform: translate3d(0, -20px, 0);
}

.v-leave-to {
  transform: translate3d(0, 20px, 0);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s;
}